
/* || Header */
header{

    padding: 5px 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    margin-left: 10px;
    color : blue;
}

header a:hover{
    text-decoration: underline;
}

/* || Accueil (toutes les encheres) */

/* || Classes utilitaires */
.flex-row {
    display: flex;
}

/* || Debug || */
h1 {
    color: red;
}
