/* || VARIABLES CSS (couleurs etc) */

/* || RESET */
body {
    margin:0;
    padding:0;
    display: flex;
    font-family: Arial,sans-serif;
    flex-direction: column;
    min-height : 100vh;
    max-width: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
}

button, input[type="text"], input[type="search"], select {
    padding: 0.5rem 1rem;
}

/* ********************Header******************** */
header{
    padding: 5px 20px;
    background-color: #10425f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    margin: 4px;
    color: white;
}

header a{
    padding: 5px;
    text-decoration: none;
    margin-left: 10px;
    color : white;
    border-radius: 9px;
    transition: all 0.5s ease;
}

header a:hover{
    text-decoration: none;
    font-size: larger;
    padding: 5px;
    background-color: #22577A;
    border-radius: 9px;
    transition: all 0.5s ease;
}
/* ********************footer******************** */
footer {background-color: #22577A;
        color: white;
        padding: 15px;
        margin-top: 15px;
        text-align: center;
        }
/* ********************Titre******************** */
h1{color: #10425F}
h2{color: #22577A}
h3{color: #38A3A5}
h4{color: #57CC99}
h5{color: #80ED99}
h6{color: #C7F9CC}


/* ********************INPUTS******************** */
label{
    display: inline-block;
    width: 10em;
}

.input {
    border: 2px solid transparent;
    width: 9em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin: 10px 5px 15px 5px;
}
.input:hover,
.input:focus {
    border: 2px solid rgb(16, 65, 94);
    box-shadow: 0px 0px 0px 7px rgba(16, 65, 94, 0.44);
    background-color: white;
}

textarea{
    width: 25em;
    height: 15em;
}
/* -----------Bouton------------- */
.button-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.button {
    padding: 5px 7px;
    margin: 10px 0px 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #69b1b3;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    box-shadow: #38A3A5 0px 10px 0px 0px;
    color: black;
    cursor: pointer;
}

.button:hover {
    box-shadow: #38A3A5  0px 10px 0px 0px;
    background-color: #8ec9cb;
}

.button:active {
    background-color: #8ec9cb;
    box-shadow: #38A3A5  0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}
/* -----------Select------------- */
select,
select::picker(select) {
    appearance: base-select;
}
select::picker(select) {
    appearance: base-select;
    padding: 0.5rem;
    border: 2px solid rgb(16, 65, 94);
    border-radius: 10px;
    background-color: white;
}
/* -----------Date------------- */

/* -----------Radio------------- */
input[type="radio"]{
    color: #22577A;
}
input[type="radio"]:checked{
    background-color: #10425F;
}
/* -----------checkbox------------- */
.ui-checkbox {
    --primary-color: #10425F;
    --secondary-color: #fff;
    --primary-hover-color: #38A3A5;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}
/* -----------Table------------- */
table {
    width: 100%;
    border-collapse: separate; /* important pour radius */
    border-spacing: 0;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    margin: 20px 0;
}

/* Header */
table thead {
    background-color: #22577A;
    color: white;
}

table thead th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
}

/* Cellules */
table td {
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
}

/* Ligne hover */
table tbody tr:hover {
    background-color: rgba(16, 65, 94, 0.27);
    transition: 0.3s;
}
/* ********************Accueil (toutes les enchères)******************** */
/* -----------card------------- */
a{text-decoration: none}
#filters-menu{
    margin: 40px 0px;
}
/* ------------------------ */
#filters-menu > form {
    gap: 16px;
}

#enchere-grid {
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}

.carte-enchere {
    padding: 8px;
    border: 2px solid #38A3A5;
    border-radius: 20px;
    width: 29em;
    height: 12em;
    display: flex;
    margin: 10px 5px;
}


.search-categories {
    flex-grow: 2;
}

.search-categories > input {
    width: 100%;
}


.search-input{
    flex-grow: 2;
}

.search-input > input {
    width: 100%;
    height: 100%;
}

/* || Gestion catégories (admin) */
.category-admin thead {
    background-color: black;
    color: white;
}

/* || Classes utilitaires */
.flex-row {
    display: flex;
}

.inline-form>button {
    display: inline;
}


/* || Debug || */
