<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- quand je clique sur le titre du site, je reviens sur lapage d'accueil -->
    <a href="/"><h2 th:text="#{header.titre}"></h2></a>
    <nav>
        <!-- lien : balise a -->
        <a th:href="" th:text="#{header.}" sec:authorize="isAuthenticated()" ></a>

<!--        <a th:href="@{/genres}" th:text="#{header.}" sec:authorize="hasRole('admin')"></a>-->
<!--        <section class="inline-display" sec:authorize="isAuthenticated()">-->
<!--            &lt;!&ndash; on offre la possibilité de se déconnecter (${#authentication.name}" : recupère le username de l'utilisateur connecté) &ndash;&gt;-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <button class="button" th:text="|déconnecter : ${#authentication.name}|"></button>-->
<!--            </form>-->
<!--        </section>-->
        <!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
<!--        <section class="inline-display" sec:authorize="!isAuthenticated()">-->
<!--            &lt;!&ndash; on offre la possibilité de se connecter &ndash;&gt; <a th:href="@{/login}">connexion</a>-->
<!--        </section>-->

    </nav>
</header>