<!DOCTYPE html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">

<body>
    <!-- main : c'est le contenu principal de la page -->
    <!-- avec layout:fragment="contenu", je vais remplacer le main de mon layout par celui de ma page -->
    <main layout:fragment="contenu">

        <h1 th:text="#{titre.encheres}"></h1>

        <section id="filters-menu">

            <form th:action="@{/}" method="get" class="flex-row">

                <div class="search-categories">

                    <input type="search" name="recherche" th:placeholder="#{recherche.placeholder}">

                    <!--TODO: le select categorie doit être modifié pour être dynamique -->
                    <p>
                        <label for="categories" th:text="#{categories.menu.label}"> </label>
                        <select name="categories" id="categories">
                            <option value="informatique">Informatique</option>
                            <option value="ameublement">Ameublement</option>
                            <option value="vetements">Vêtements</option>
                            <option value="loisirs">Sport & Loisirs</option>
                        </select>
                    </p>

                </div> <!-- fin div barre recherche & categories -->

                <div class="search-input">
                    <input type="submit" th:value="#{search.action}">
                </div>

            </form> <!-- fin form recherche & categories -->

            <!-- TODO: ajouter le lien vers le mapping -->
            <!-- TODO: attribut disabled sur un des form filtres lorsque l'autre est sélectionné -->
            <form action="" method="GET" class="flex-row">
                    <div>
                        <p>
                            <input type="radio" name="filtreAccueil" id="filtreEncheres">
                            <label for="filtreEncheres" th:text="#{filtre.achats.label}"></label>
                        </p>

                        <p>
                            <label for="encheresOuvertes" th:text="#{achats.ouverts.label}"></label>
                            <input type="checkbox" class="ui-checkbox" name="enchereOuvertes" id="encheresOuvertes">
                        </p>
                        <p>
                            <label for="encheresEnCours" th:text="#{achats.encours.label}"></label>
                            <input type="checkbox" class="ui-checkbox" name="enchereEnCours" id="encheresEnCours">
                        </p>
                        <p>
                            <label for="encheresRemportees" th:text="#{achats.gagnes.label}"></label>
                            <input type="checkbox" class="ui-checkbox" name="enchereRemportees" id="encheresRemportees">
                        </p>

                    </div> <!-- fin div filtre achats/encheres -->

                    <div>
                        <p>
                            <input type="radio" name="filtreAccueil" id="filtreVentes">
                            <label for="filtreVentes" th:text="#{filtre.ventes.label}"></label>
                        </p>

                        <p>
                            <label for="ventesEnCours" th:text="#{ventes.encours.label}"></label>
                            <input type="checkbox" name="ventesEnCours" id="ventesEnCours">
                        </p>
                        <label for="ventesNonDebutees" th:text="#{ventes.futures.label}"></label>
                        <input type="checkbox" name="ventesNonDebutees" id="ventesNonDebutees">
                        <p>
                            <label for="ventesTerminees" th:text="#{ventes.terminees.label}"></label>
                            <input type="checkbox" name="ventesTerminees" id="ventesTerminees">
                        </p>
                    </div>

                </form> <!-- fin form filtre encheres/ventes actives en cours etc -->


        </section> <!-- fin section menus filtres-->

        <section id="enchere-grid">

            <article class="carte-enchere" th:each="article : ${articles}">

                <figure>
                    <!-- TODO: penser à bien renseigner la src et le alt-->
                    <img src="https://placehold.co/150x150" alt="">
                </figure>

                <div class="infos-enchere">
                    <h3><a th:href="|/enchere/${article.idArticle}|" th:text="${article.nom}"></a></h3>

                    <div>
                        <p> <span th:text="| #{infos.encheres.prix} :|"> </span> <span th:text="${article.miseAPrix}"> </span>
                            points </p>
                        <p> <span th:text="|#{infos.encheres.fin} :|"> </span> <time th:datetime="${articleEnCours.dateFin}" th:text="${#temporals.format(articleEnCours.dateFin, 'dd MMMM yyyy')}"> </time></p>
                        <p> <span th:text="|#{infos.encheres.vendeur} :|"></span> <a th:href="@{/profil/(${articleEnCours.utilisateur.username})}" th:text="${articleEnCours.utilisateur.username}"></a> </p>
                        <!-- TODO: lien page uilisateur -->
                    </div>

                </div> <!-- fin div infos encheres-->

            </article> <!-- fin article enchere -->

        </section> <!-- fin section grille encheres -->


    </main>

    </body>

    </html>