<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="fr" layout:decorate="~{layouts/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<main layout:fragment="contenu" th:object="${article}">

  <h1 th:text="#{detail.titre}"></h1> <br>

  <img src="#" alt="image de l'objet"> <br>

  <h3 th:text="" id="nomArticle"></h3> <br>

  <label for="description" th:text="#{newVente.description}"></label>
  <p id="description"></p> <br>

  <label for="categorie" th:text="#{newVente.categorie}"></label>
  <p id="categorie" ></p> <br>

  <label for="vendeur" th:text="#{newVente.description}"></label>
  <p id="vendeur"></p> <br>

  <label for="date" th:text="#{detail.date}"></label>
  <p id="date"></p> <br>
  <label for="miseAprix" th:text="#{newVente.miseAprix}"></label> <p id="miseAprix"> </p> <br>
  <strong> <label for="meilleurOffre" th:text="#{detail.meilleurOffre}"></label> </strong>
  <p id="meilleurOffre"></p> <br>

  <form method="post" th:action="@{/nouvelleVente}">
    <label for="enchere" th:text="#{detail.proposition}"></label>
    <input type="number" id="enchere">
    <input type="submit" th:value="#{bouton.encherir}">
  </form>
</main>

</body>
</html>