<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="fr" layout:decorate="~{layouts/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<main layout:fragment="contenu" th:object="${article}">

  <h1 th:text="#{detail.titre}"></h1> <br>

<!--  <img src="#" alt="image de l'objet"> <br>-->

  <h3 th:text="${article.nom}" id="nomArticle"></h3> <br>

  <label for="description" th:text="#{newVente.description}"></label>
  <div id="description" th:text="${article.description}"></div> <br>

  <label for="categorie" th:text="#{newVente.categorie}"></label>
  <div id="categorie" th:each="categorie : ${categories}" th:if="${categorie.idCategorie == article.noCategorie}" th:text="${categorie.libelle}" ></div> <br>

  <label for="vendeur" th:text="#{newVente.vendeur}"></label>
  <div id="vendeur" th:text="${article.utilisateur.username}"></div> <br>

  <label for="dateDebut" th:text="#{detail.dateDebut}"></label>
  <div> <time id="dateDebut" th:datetime="${article.dateFin}" th:text="${#temporals.format(article.dateDebut, 'dd MMMM yyyy')}"> </time></div> <br>

  <label for="dateFin" th:text="#{detail.datefin}"></label>
  <div> <time id="dateFin" th:datetime="${article.dateFin}" th:text="${#temporals.format(article.dateFin, 'dd MMMM yyyy')}"> </time></div> <br>

  <label for="miseAprix" th:text="#{newVente.miseAprix}"></label> <div th:text="${article.miseAPrix}" id="miseAprix"> </div> <br>
  <strong> <label for="meilleurOffre" th:text="#{detail.meilleurOffre}"></label> </strong>
  <div id="meilleurOffre" th:text="${meilleurOffre?.montantEnchere}"></div> <br>

  <form method="post" th:action="@{/enchere/${id}}" th:object="${enchere}">
    <label for="enchere" th:text="#{detail.proposition}"></label>
    <input type="number" id="enchere" th:field="*{montantEnchere}">
    <input type="submit" th:value="#{bouton.encherir}">
  </form>
</main>

</body>
</html>