<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="en" layout:decorate="~{layouts/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<!-- main : c'est le contenu principal de la page -->
<!-- avec layout:fragment="contenu", je vais remplacer le main de mon layout par celui de ma page -->
<main layout:fragment="contenu">


    <div th:if="${param.error}">Identifiant ou mot de passe invalide</div>

    <div th:if="${param.logout}">Vous avez été déconnecté de votre compte</div>

    <form th:action="@{/login}" method="post" th:object="${utilisateur}">
        <p>
            <label th:text="#{login.identifiant}"></label>
            <input type="text" th:field="*{username}">
        </p>

        <p>
            <label th:text="#{login.Mdp}"></label>
            <!-- TODO : vérifier le champ mdp -->
            <input type="password" th:name="password"><br>
        </p>

        <p>
            <input type="checkbox" id="souvenir">
            <label for="souvenir" th:text="#{login.souvenir}"></label>
        </p>

        <p>
            <a href="#" th:text="#{login.motdepasse}"></a>
        </p>

        <input type="submit" value="Connexion"><br>
    </form>

    <a class="btn" th:href="@{/nouveau}" th:text="#{login.creerUnCompte}"></a>
</main>

</body>
</html>