<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="fr" layout:decorate="~{layouts/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

  <main layout:fragment="contenu">
    <h1 th:text="#{profil.titre}"></h1>

<form th:action="@{/profil}" method="post" th:object="${utilisateur}">
  <label>Pseudo :</label>
     <input type="text" th:field="*{pseudo}"><br>
  <label>Nom :</label>
     <input type="text" th:field="*{nom}"><br>
  <label>Prénom :</label>
      <input type="text" th:field="*{prenom}"><br>
  <label>Email :</label>
      <input type="text" th:field="*{email}"><br>

  <label>Rue :</label>
      <input type="text" th:field="*{adresse.rue}"><br>
  <label>Code postal :</label>
      <input type="text" th:field="*{adresse.codePostale}"><br>
  <label>Ville :</label>
      <input type="text" th:field="*{adresse.ville}"><br>
  <label>Mot de passe :</label>
      <input type="password" th:field="*{motDePasse}"><br>
  <label>Confirmation :</label>
      <input type="password" th:field="*{motDePasse}"><br>
  </form>

<form th:action="@{/}" method="post">
    <button type="submit">Annuler</button>
</form>

  </main>
</body>
</html>