<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="fr" layout:decorate="~{layouts/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

  <main layout:fragment="contenu">
    <h1 th:text="#{profil.titre}"></h1>

<form th:action="@{/profil}" method="post" th:object="${utilisateur}">
  <label th:text="#{profil.pseudo}"></label>
     <input type="text" th:field="*{pseudo}"><br>

  <label th:text="#{profil.nom}"></label>
     <input type="text" th:field="*{nom}"><br>

  <label th:text="#{profil.prenom}"></label>
      <input type="text" th:field="*{prenom}"><br>

  <label th:text="#{profil.email}"></label>
      <input type="text" th:field="*{email}"><br>

  <label th:text="#{profil.rue}"></label>
      <input type="text" th:field="*{adresse.rue}"><br>

  <label th:text="#{profil.codePostal}">Code postal :</label>
      <input type="text" th:field="*{adresse.codePostal}"><br>

  <label th:text="#{profil.ville}"></label>
      <input type="text" th:field="*{adresse.ville}"><br>

  <label th:text="#{profil.motDePasse}"></label>
      <input type="password" th:field="*{motDePasse}"><br>

  <label th:text="#{profil.confirmation}"></label>
      <input type="password" th:field="*{motDePasse}"><br>

    <button type="submit" th:text="#{profil.creer}"></button>
  </form>

<form th:action="@{/}" method="post">
    <button type="submit">Annuler</button>
</form>

  </main>
</body>
</html>